.profession-select-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fineprint {
    font-family: "Proxima N W01 Light", "Roboto", sans-serif;
    color: #707070;
    font-size: 14px;
    a {
        color: #ED1456;
        font-size: 14px;
    }
}